@import "./variable";

@mixin flex($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.footer{
    height: 32%;
    background-color: $dark-clr1;
    color: white;
    @include flex(column);
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;

    &__heading{
        width: 100%;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1em;
        margin-top: 1.5em;
        text-align: center;
    }

    &__para{
        margin-bottom: 5em;
        font-size: 0.8rem;
        text-align: center
    }

    .logo{
        @include flex(row);
        justify-content: center;
        width: 100%;
        gap: 1em;

        p{
            border: 1px solid white;
            padding: .4em 1.2em;
            border-radius: 100vmax;
            @include flex(row);
            gap: .5em;
        }
    }

    &__icons{
        // border: 1px solid red;
        height: 40%;
        width: 80%;
        @include flex(row);
        justify-content: space-between;
        border-top: 1px solid gray;
        margin-top: 4em;

        .footer__icon{
            margin-left: .5em;
            @include flex(row);
            justify-content: flex-start;
            img{
                width: 50px;
            }
        }

        .icons{

            margin-bottom: 1em;

            i{
                border: 1px solid red;
                padding: .4em .4em;
                border: 1px solid rgb(92, 91, 91);
                border-radius: 100%;
                font-size: .8rem;
                margin-right: .5em;
            }
        }

        .copyright{
            font-size: .8rem;
        }
    }
}

@media screen and (max-width:700px){
    .footer{

        &__heading{
            font-size: 1.3rem;
        }

        &__para{
            width: 70%;
        }

        &__icons{
            // border: 1px solid red;
            flex-direction: column;
            align-items: center;
            gap: 1.5em;

            i{
                margin-bottom: 1em;
            }

            .footer__icon{
                width: 100%;
                justify-content: center;
                margin-left: 0;
                margin-top: 1em;
    
                img{
                    width: 70px;
                }
    
                p{
                    font-size: 1.7rem;
                    // border: 1px solid red;
                }
            }
            .copyright{
                width: 100%;
                text-align: center;
                font-size: 1rem;
            }

            .icons{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;


                i{
                    font-size: 1.2rem;
                }
            }
        }
    }
}